body{
	font-family: 'Titillium Web', sans-serif;
}
header{
	background-image: url('../img/alamo-taller-1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 75px;
	min-height: 720px;
}
#testimonial{
	background-color: #f1f1f1;
	padding: 50px 0 60px 0;
	text-align: center;;
	margin-top: 40px;
}
#info-one{
	padding: 40px;
}
#contact{
	background: url(../img/alamo-taller-1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 20px 0px 0px 0px;
	color: #FFF !important;
}
#contact a{
	color: #FFF !important;
	padding-left: 10px;;
	
}
.email{
	border: 1px solid #FFF;
    padding: 16px 24px;
    text-align: center;
    margin: 20px auto;
  }
i.fab {
	font-size: 2em !important;
}
.footer{
	
	background-color: #292927;
	color: white;
	margin-top: 40px;
	padding-top: 20px;
	padding-bottom: 10px;
}
.logo{
	position: relative;
	text-align: center;
}
.img-logo{
	height: 340px;
	margin-top: 0px;
}
.title{
	color: white;
	font-weight: bold;
	position: relative;
	margin-top: 20px;
}
.bg-dark{
	/*background-color: transparent !important;*/
	background-color: rgba(46,45,42,0.9) !important;
}
#nosotros {
	padding-top: 80px;
}
  #bars {
	  margin: 2em auto;
	  max-width: 960px;
	  overflow: hidden;
  }
  
  .bar {
	  display:inline-block;
	  text-align: center;
  }
  
  .bar h3 {
	  font-size: 1.4em;
	  font-weight: normal;
	  margin: 0;
	  text-transform: uppercase;
  }
  
  .bar-circle {
	  display: block;
	  margin: 0.7em auto;
  }
  
  h3 {
	  display:inline-block;
	  margin-left:25px;
	  cursor:pointer;
  }
  #names {
	  padding-top: 60px;
	  text-align:center;
  }
  .bactive {
	  border-bottom:3px solid #D6AC4B;
		  font-weight:800;
  }
  #skills{
	  background-color: #f1f1f1;
	  padding-bottom: 20px;
  }
  
.home-design{
	background: url(../img/alamo-taller-7.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 320px;
}
.bigotes{
	background: url(../img/alamo-taller-7.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 320px;
}
.fabrica{
	background: url(../img/alamo-taller-7.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 320px;
}
.titulo{
	text-align: center;
	margin-top: 16%;
	color: white !important;
	
}
.titulo h3{
	display: block;
	font-weight: bold;
	font-size: 1.8 em;
	padding-top: 4px;;
}
.line{
	height: 2px;
	background: white;
	text-align: center;
	width: 60px;
	margin: 4px auto;
}
.line-verde{
	height: 2px;
	background: #4a5e42;
	text-align: center;
	width: 60px;
	margin: 16px auto;
}
.line-blanco{
	height: 2px;
	background: #fff;
	text-align: center;
	width: 60px;
	margin: 16px auto;
}
.line-verde-left{
	height: 2px;
	background: #4a5e42;
	text-align: left;
	width: 60px;
	margin-top: 16px;
}

ul, nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  nav li{
	  display: inline-block;
	  padding: 12px 14px;
  }
  nav li img{
	  height: 40px;
	  margin: 0 auto;;
	  text-align: center;
}
#home{
	position: relative;
}
@media (max-width: 800px) {
	.home-1 {
	  position: relative;
	  bottom: 0;
	  margin-top: 340px !important;
	}
	.home-2 {
		position: relative;
		margin-top: -540px !important;
		top:0
	  }
  }
@media (max-width: 600px) {
	.home-1 {
		position: relative;
		bottom: 0;
		margin-top: 340px !important;
	  }
	  .home-2 {
		  position: relative;
		  margin-top: -630px !important;
		  top:0
		}
		.display-4{
			font-size: 2.5rem;
			padding-top: 10px;
		}
		nav li{
			display: block;
		}
  }


